---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/Hero.astro";
import ModelySection from "../components/ModelySection.astro";
import ModelsSection from "../components/ModelsSection.astro";
import ModelxSection from "../components/ModelxSection.astro";
---

<Layout title="Tesla - El coche de tus sueños">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ModelySection />
    </div>

    <div class="snap-center">
      <ModelsSection />
    </div>

    <div class="snap-center">
      <ModelxSection />
    </div>
  </main>
</Layout>
