<section
  class="landing-section bg-black h-screen w-screen text-center relative"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-28 text-[40px] font-semibold">
        Disfrute de Tesla
      </h2>
      <p class="text-white text-sm">
        Programe una prueba de conducción hoy mismo
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-16">
      <div>
        <a
          href="#"
          class="text-white border-white font-semibold bg-white/5 backdrop-blur-sm transition-colors text-sm rounded px-12 py-3 border-[3px] hover:bg-white hover:text-black"
          >Prueba de conducción</a
        >
      </div>
    </footer>
  </div>

  <div class="w-full absolute top-0 bottom-0">
    <video
      src="/video.webm"
      autoplay
      loop
      muted
      class="object-cover h-full w-full"></video>
  </div>
</section>
