<section
  data-header-color="black"
  class="landing-section bg-black h-screen w-screen text-center relative"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-28 text-[40px] font-semibold">Model S</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de coducción
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-16">
      <div class="flex justify-center gap-x-4">
        <a
          href="#"
          class="text-neutral-900 font-semibold bg-zinc-100 bg-slate-200 text-sm rounded px-12 py-3"
          >Explore el inventario</a
        >
        <a
          href="#"
          class="text-white bg-zinc-600 text-sm rounded px-12 py-3 font-semibold"
          >Pedido personalizado
        </a>
      </div>
    </footer>
  </div>

  <div class="w-full absolute top-0 bottom-0 z-10">
    <img
      src="../../src/assets/model-s.avif"
      alt="Model Y"
      class="object-cover h-full w-full object-center"
    />
  </div>
</section>
